body{
    background: white;
    background-image: linear-gradient(90deg, rgba(255, 152, 216, 0.534) 50%, transparent 0),
                      linear-gradient(rgba(255, 152, 216, 0.534) 50%, transparent 0);
    background-size: 30px 30px;
}
img.principal{
    height: 30vh;
    border-radius: 2%;
}
#encabezado {
    background: #d52e3f;
    border-radius: 20px;
    height: 20vh;
}
h1 {
    font-size: 50pt;
    text-align: center;
  
    color: #fcedd8;
    
       font-family: 'Niconne', cursive;
    font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #ef326b, 
              15px 15px 0px #ee9247, 
              20px 20px 0px #64e24b, 
              25px 25px 0px #3fafdf, 
              30px 30px 0px #c11a2b, 
              35px 35px 0px #c11a2b, 
              40px 40px 0px #c11a2b, 
              45px 45px 0px #c11a2b;
    
     }
#aboutme {
    font-size: 24pt;
    font-family: monospace;
    margin: 5%;
    flood-color: #83d4d0;

}
#infoPersonal {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    background-color: #ff46a3b6;
    width: 80vw;
    border-radius: 20px;
}   
#masSobreMi {
    font-family: 'Caveat', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    background-image: url("../assets/imagenes/simple-childish-scribble-backdrop-colorful-doodle-art-background-scribble-art-abstract-scribble-art-free-vector.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 600px;
    width: 200px;
    float: right;
    padding-left: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
#masSobreMi :hover {filter: opacity(.5);}

img.torta {
    float: left;
    height: 60pt;
}
#dulce {
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Changa', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-size: 17pt;
    border-radius: 24pt;
    background-color: #83d4d094;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60vw;
}
#redes {
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Changa', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24pt;
    background-color: #64e24bc0;
    border-radius: 20px;
    width: 70vw;
}
#logo {
    height: 100px;
}